@charset "UTF-8";
// 1. Configuration and helpers
@import "utilities/utilities";
// 2. Vendors
@import "vendors/vendors";
// 2. Base
@import "base/base";
// 3. Layout
@import "layout/layouts";
// 4. Components
@import "components/components";
// 5. Page-specific styles
@import "pages/pages";

.sona {
  display: flex;
  box-shadow: #0c5460 0 0 0 0;
  border-radius: 5px;
  transform: translate(10px, 10px);
}
