// =============================================================================
// Color system : Variables should follow the guide line below
// =============================================================================
// *****************************************************************************
// 1. Main colors
// *****************************************************************************
$black: #2B292D;
$white: #ffffff;
$purple: #3040C4;
$light-coral: #F3C6BD;
$gray: #F4F5F7;
$light-salmon: #FCF0E3;
$pacific-blue: #00A1C6;
$pelorous: #2485D0;
$cinnabar: #F1592B;
$pigment-green: #009B4D;
$carousel-pink: #F9D9EB;
$alizarin: #E12729;
$pattens-blue: #D3E9EF;
$topaz: #807F81;
$sunglow: #FFC52C;
$theme-colors: (
  purple: $purple,
  gray: $gray,
  white: $white,
);


// =============================================================================
// 2. Fonts
// =============================================================================
$font-light-path: '../fonts/WorkSans-Light';
$work-sans-light: "Work Sans Light";
$font-light: 300;
$font-regular-path: '../fonts/WorkSans-Regular';
$work-sans-regular: "Work Sans Regular";
$font-regular: 400;
$font-bold-path: '../fonts/WorkSans-Bold';
$work-sans-bold: "Work Sans Bold";
$font-bold: 700;
$font-family-base: $work-sans-regular;
$font-weight-base: $font-regular;
