// =============================================================================
// 1. Colors
// =============================================================================

// =============================================================================
// 2. Fonts
// =============================================================================
$font-light-path: '../fonts/WorkSans-Light';
$work-sans-light: "Work Sans Light";
$font-light: 100;
$font-regular-path: '../fonts/WorkSans-Regular';
$work-sans-regular: "Work Sans Regular";
$font-regular: 400;
$font-bold-path: '../fonts/WorkSans-Bold';
$work-sans-bold: "Work Sans Bold";
$font-bold: 800;
